.ProductImg {
    width: inherit;
    height: auto;
}
.imageButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .imageButtons button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px;
  }
  
  /* Tùy chỉnh màu sắc của nút tròn */
  .imageButtons button:nth-child(1) {
    background-color: brown;
  }
  
  .imageButtons button:nth-child(2) {
    background-color: gray;
  }

  .imageButtons button:nth-child(3) {
    background-color: black;
  }

  .imageButtons button:nth-child(4) {
    background-color: white;
  }
  
  /* Thêm tùy chỉnh cho các nút khác nếu cần */
  