.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textcontain{
    align-self: center;
}
.MyBorder{
    border-width: 2px;
    border-radius: 0px;
    font-weight: bold;
    font-size: medium;
}
.MyBorder2{
    border-width: 2px;
    border-radius: 0px;
    font-weight: bold;
    font-size: medium;
    color: white;
    border-color: red;
    background-color: red;
}
.form-floating{
    color: gray;
    font-size: smaller;
}
label.form-check-label{
    font-weight: bold;
}